.input-text .input-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-gray, white);
}

.input-text input {
  padding: 0.5rem;
  border: none;
  width: 100%;
}

.input-text input:focus {
  outline: none;
}

/* Change the white to any color ;) */
.input-text input:-webkit-autofill,
.input-text input:-webkit-autofill:hover,
.input-text input:-webkit-autofill:focus,
.input-text input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--light-gray, white) inset !important;
  box-shadow: 0 0 0 30px var(--light-gray, white) inset !important;
}

.input-text input[type='email'],
.input-text input[type='number'],
.input-text input[type='password'],
.input-text input[type='tel'],
.input-text input[type='text'],
.input-text input[type='url'],
.input-text textarea {
  background-color: var(--light-gray, white);
}

.input-text .eye-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
}

.input-text .validation-error {
  list-style-type: none;
}

.input-text .small {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.input-text li {
  color: var(--red, crimson);
}

.input-text .valid {
  border-bottom: 2px solid var(--green, green);
}

.input-text .invalid {
  border-bottom: 2px solid var(--red, crimson);
}

.input-text .not-validable {
  border-bottom: 2px solid var(--black, black);
}
