:root {
  --light-gray: white;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#root {
  width: 100%;
  height: 100%;
}
